[core]
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[color]
	ui = always
[user]
	email = ArrietaDavid2001@protonmail.com
	name = Claudio D. Arrieta
	signingkey = 43860D391C0B6F2A
[diff]
	tool = vimdiff
[commit]
	gpgsign = true
