[core]
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	plog1 = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	plog2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	plog3 = log --color --pretty=format:'%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)' --relative-date --decorate

[color]
	ui = always
[user]
	email = ArrietaDavid2001@protonmail.com
	name = Claudio D. Arrieta
#	signingkey = 43860D391C0B6F2A
[diff]
	tool = vimdiff
[commit]
	gpgsign = false
