mpd/.mpd/mpd.db
mpd/.mpd/mpd.log
mpd/.mpd/mpd.pid
mpd/.mpd/mpdstate
mpd/.mpd/playlists
ncmpcpp/.ncmpcpp/error.log
ncmpcpp/.ncmpcpp/lyrics/
rofi/.config/rofi/example1-Xresources
rofi/.config/rofi/example2
*.swp
